@import "variable";

body {
  position: relative;
}

a {
  text-decoration: none;
}

nav, section, div, footer, header {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-weight: 200;
  color: map-get($global-color, text-main);
}

h1 {
  font-size: 3.6rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.app-main {
  min-height: 100%;
  padding-top: map-get($nav-height, a);
}
