/* word break */
%break {
  word-break: break-all;
}

%nowrap {
  white-space: nowrap;
}

%blod {
  font-weight: bold;
}

%no-elps {
  white-space: normal;
  text-overflow: clip;
  -webkit-line-clamp: initial;
}

/* single line ellipsis  */
%elps {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* multi line ellipsis */
%ml-elps {
  @extend %elps;
  display: -webkit-box;
  -webkit-line-clamp: 4; //default 4 line
  -webkit-box-orient: vertical;
  white-space: normal;
  &.line2 {
    -webkit-line-clamp: 2; // 2 line
  }
  &.line3 {
    -webkit-line-clamp: 3;
  }
  &.line4 {
    -webkit-line-clamp: 4;
  }
  &.line5 {
    -webkit-line-clamp: 5;
  }
  &.line6 {
    -webkit-line-clamp: 6;
  }
  &.line7 {
    -webkit-line-clamp: 7;
  }
  &.line8 {
    -webkit-line-clamp: 8;
  }
  &.line9 {
    -webkit-line-clamp: 9;
  }
}

%middle {
  display: inline-block;
  vertical-align: middle;
}

%wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* clear float */
%clearfix {
  &:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
  }
}

/* disabled */
%disabled {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

/* disabled default face */
%appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

/* triangle bottom right */
%triangle-bottom-right {
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
}
