/* Scss Document */
//使用缩放系统
$use-scaler-system : false; //map-get($global-config, use-scaler-system);
$scaler-rate : 1;

/*去除单位*/
@function no-unit($number){
  @return $number / ($number * 0 + 1);
}

/*将px换算为rem*/
@function rem($size) {
  $res : $size;
  @if($use-scaler-system == true) {
    @if(type-of($size) == number) {
      @if(unit($size) == px) {
        $res : (no-unit($size) / $font-size-page-html-base) + 0rem;
      }
    }
  }
  @return $res;
}
