$global-color: (
  a:#2ba08e,
  b:#2d2d2d,
  c:#174e46,
  d:#333,
  e:#0ba360,
  f:#3cba92,
  g:dimgray,
  borderColor:#ccc,
);
$global-padding: (
  a:15px,
);
$global-z-index: (
  a:10,
  b:100,
  c:1000,
);
$nav-height: (
  a:60px,
  b:48px,
)
