$global-color-base: (
  primary:#2ba08e,
  primary-dark:#174e46,
  secondary:#0ba360,
  third:#3cba92,
  a:#2d2d2d,
  b:dimgray,
  c:#ccc,
);
$global-color: (
  border:map-get($global-color-base, c),
  footer:map-get($global-color-base, a)
);
$global-padding: (
  a:15px,
);
$global-z-index: (
  a:10,
  b:100,
  c:1000,
);
$nav-height: (
  a:60px,
  b:48px,
)
