$global-color-base: (
  primary: #2ba08e,
  primary-dark: #174e46,
  secondary: #0ba360,
  third: #3cba92,
  a: #2d2d2d,
  b: #696969,
  c: #ddd,
  d: #404040,
  e: #e9e9e9,
  f: #4586db,
  g: #f4f4f4,
  h:#bbb,
  i:#f0f0f0,
  j:#f8f8f8,
  k:#abb4bd,
);

$global-color: (
  border: map-get($global-color-base, primary),
  footer: map-get($global-color-base, a),
  text-main: map-get($global-color-base, d),
);
$global-width: (
  break-point-xs: 414px,
  break-point-sm: 768px,
  break-point-md: 992px,
  break-point-lg: 1200px,
);
$nav-height: (
  a: 60px,
  b: 48px,
);

$global-padding: (
  a: 15px,
  b: 12px,
);

$global-z-index: (
  a: 10,
  b: 100,
  c: 1000,
);

$nav-height: (
  a:60px,
  b:48px,
);

$global-animation-speed-base: .2s;
$global-animation-speed: (
  a: $global-animation-speed-base * 1,
  b: $global-animation-speed-base * 2,
  c: $global-animation-speed-base * 3,
);

$global-break-point: (
  sm: 768px,
  md: 992px,
  lg: 1200px,
)
